<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

  <!-- base content type -->
  <extension point="org.eclipse.core.contenttype.contentTypes">
    <content-type id="de.agilantis.language_pack.basetype"
      base-type="org.eclipse.core.runtime.text"
      name="Text (Syntax Highlighting)"
      priority="low"/>
  </extension>

  <!-- use "Generic Text Editor" -->
  <extension point="org.eclipse.ui.editors">
    <editorContentTypeBinding
      contentTypeId="de.agilantis.language_pack.basetype"
      editorId="org.eclipse.ui.genericeditor.GenericEditor"/>
  </extension>

  <!-- INSERT SNIPPETS HERE -->

</plugin>